<h1 style="text-align: center">Reactive Forms</h1>
<div class="col-md-3" style="margin:30px auto 0; float:none;">

  <h2>Login Form</h2>
  <br>

  <form [formGroup]="formLogin" (ngSubmit)="formSubmit()">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" placeholder="Enter Email" formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
      <div *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched" class="alert alert-danger" style="margin: 5px 0 0">Please enter the Email</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
      <div *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched" class="alert alert-danger" style="margin: 5px 0 0">Please enter the Password</div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


</div>


<br>
<br>
<br>

<div class="col-md-3" style="margin:30px auto 0; float:none;">

  <h2>Login Form</h2>
  <br>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div formGroupName="formData">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" placeholder="Enter Email" formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

        <div *ngIf="loginForm.get('formData').get('email').invalid && loginForm.get('formData').get('email').touched" style="color:red; padding: 5px 0 0;">
          Email is required
        </div>

      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">

        <div *ngIf="loginForm.get('formData').get('password').invalid && loginForm.get('formData').get('password').touched" style="color:red; padding: 5px 0 0;">
          Password is required
        </div>

      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>


</div>

<br>
<br>
<br>
<br>

<h1 style="text-align: center">Template Driven Forms</h1>
<div class="col-md-3" style="margin:30px auto 0; float:none;">

  <h2>Login Form</h2>
  <br>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" placeholder="Enter Email" [(ngModel)]="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        #emailer="ngModel" required name="email">
      <span *ngIf="emailer.invalid && emailer.touched" style="color:#e00a0a; padding:6px 0 0;">Enter Email</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password" #passwordKey="ngModel" name="password"
        required>
      <span *ngIf="passwordKey.invalid && passwordKey.touched" style="color:#e00a0a; padding:6px 0 0;">Enter Password</span>
    </div>
    <div class="form-group">
      <label for="pwd">Select</label>
      <select class="form-control" [(ngModel)]="selectOptions" name="select">
        <option value="first">First</option>
        <option value="second">Second</option>
      </select>
    </div>
    <div class="form-group">
      <label *ngFor="let gender of genders" style="display: block;">
        <input type="radio" name="gender" [value]="gender" [(ngModel)]="genderOptions"> {{gender}}
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>